 #top-container 
*{
	margin:0;
	padding:0;
  }

  #right {
  width: 45px;
	height: 50px;
	object-position: right;
	margin-left: 960%;
	margin-bottom: 25%;
	}

  .title1{
  	text-align: center;
  	font-size: 20px;
  	font-family:BankGothic Md BT;
  	color: white;
  }
  
  
  .navbar {
	padding-right: 4rem;
	font-size: 1.2rem;
	opacity: 1.2;
  }
  
  .navbar:hover {
	opacity: 0.9;
  }
  
  .main-heading {
	font-family: "Raleway";
	font-weight: bolder;
	font-size: 6rem;
	margin-top: 2rem;
	text-align: center;
  }
/*---banner section--*/
#main
{
  text-align: center;
  background:#1F85DE;
  color:rgb(8, 0, 0);
  padding-top:2%;	
  padding-bottom: 2%;
}
.container h1 img{
	padding-bottom: 10px;
}


/*---service section---*/
#features1
{
	text-align: right;
	padding: 10% 15%;
}
 #features
 {
     text-align: center;
     padding: 20% 25%;
     background-position:center;
     background-image: url("bg1.jpg");
     background-size: cover;
 }
 #logo
 {
     text-align: center;
     height: 150px;
     width: 150px;
     background-position:center;
     background-image: url("bankicon.png");
     background-size: cover;
 }
 .my-btn {
	margin-top: 2.5%;
	font-family: "Roboto", cursive;
	font-weight: bolder;
  }
.features-items {
  color: #007bff;
  font-size: 4rem;
  text-align: center;
  padding: 10%;
  
}  
 
 .features1 h3
{
	padding:5px;
	margin: top 2.5%;;
	text-transform:uppercase;
}


.title::before
{
	content:'';
	background:#99c1d8;
	height:5px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	transform:translatey(63px);
}
.title::after
{
	content:'';
	background:#99c1d8;
	height:10px;
	width:50px;
	margin-left:auto;
	margin-right:auto;
    margin-bottom:40px;
    display: block;
	transform:translatey(8px);
}
#features .btn-primary
{
	box-shadow:none;
	padding:10px 25px;
	margin-right: 2.5%;
	margin-left: 2.5%;
}
  .main{
    font-size: 3rem;
    line-height: 1.5;
    padding: 10px 0px;
  }
.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
  
  #footer {
	background-color: #1F85DE;
	padding: 1%;
	padding-bottom: 1%;
	text-align: center;
	font-family: "Roboto", cursive;
	font-weight: bolder;
  }
  
  hr {
	border: dotted grey;
	border-bottom: none;
	border-width: 4px;
	width: 30%;
	margin: 50px, auto;
  }
  
  
  
  .social-icon {
	margin: 20px 30px 50px;
	color: black;
	font-size: 1.5rem;
	opacity: 0.6;
  }
  
  .social-icon:hover {
	opacity: 0.9;
  }
  
  .copyright {
	color: #dc3545;
	margin-top: 50px;
	margin-bottom: 0;
  }